<h1><%= @company.name %></h1>
<h3><%= @company.city %>, <%= @company.state %></h3>

<h2>Contacts</h2>
<ul>
    <% for contact in @company.contacts %>
    <li><%= contact.last_name %>, <%= contact.first_name%></li>
    <% end %>
</ul>
<p>
    <a href="/contacts/new?company_id=<%= @company.id %>">Create new contact</a>

<p>
    <a href="/companies">Go back to all companies</a>
</p>

<p>
    <%= button_to "Delete this company", @company, method: :delete %>
</p>

